<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="css/estilo.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- biblioteca angular  -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-messages.js"></script>
    <script src="js/lib/angular-locale_pt-br.js"></script>
    <script src="js/main.js"></script>
    <!--controllers -->
    <script src="js/controller/listaTelefonicaController.js"></script>
</head>

<body ng-controller="listaTelefonicaController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h3 ng-bind="app"></h3>
                    <input type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" class="form-control" />
                    <table class="table" ng-show="contatos.length > 0">
                        <tr>
                            <td></td>
                            <td><a href="" ng-click="ordernarPor('nome')">Nome</a></td>
                            <td><a href="" ng-click="ordernarPor('telefone')">Telefone</a></td>
                            <td>Operadora</td>
                            <td>Data</td>
                            <!--<td></td>-->
                            
                           <!-- direcaoDaOrdenacao:  pode colocar true também -->
                        </tr>
                        <tr ng-repeat="contato in contatos | filter: {nome: criterioDeBusca} | orderBy: criterioDeOrdenacao : direcaoDaOrdenacao | limitTo: 150" ng-class="{selecionado : contato.selecionado, negrito: contato.selecionado}">
                            <td><input type="checkbox" ng-model="contato.selecionado"></td>
                            <td>{{contato.nome}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.operadora.nome | lowercase}}</td>
                            <td>{{contato.Data | date:'dd/MM/yyyy'}}</td>
                            <!-- <td>
                                <div style="width: 20px; height:20px;" ng-style="{'background-color': contato.cor }"></div>
                            </td>-->
                        </tr>
                    </table>
                    <!-- formulário -->
                    <form name="contatoForm">
                        <input type="text" ng-model="contato.nome" class="form-control" placeholder="Nome" name="nome" ng-required="true" ng-minlength="10"
                        />
                        <input type="text" ng-model="contato.telefone" class="form-control" placeholder="Telefone" name="telefone" ng-required="true"
                            ng-pattern="/^\d{4,5}-\d{4}$/" />
                        <select ng-model="contato.operadora" ng-options="operadora.nome + '(' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'"
                            class="form-control">
                            <option value="">Selecione uma operadora</option>
                            </select>
                    </form>
                    <!-- fim formulário -->
                    <!-- alertas -->
                    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
                        <div ng-message="required" class="alert alert-danger">
                            Por favor, preencha o campo nome!
                        </div>
                        <div ng-message="minlength" class="alert alert-danger">
                            O campo nome deve ter no mínimo 10 caracteres.
                        </div>
                    </div>
                    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                        Por favor, preencha o campo telefone!
                    </div>
                    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                        O campo telefone deve ter o formato DDDDD-DDDD.
                    </div>
                    <!-- fim alertas -->
                    <button ng-click="adicionarContato(contato)" class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
                    <button ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
                </div>
                <div ng-include="'footer.html'"></div>
            </div>
        </div>
    </div>
</body>

</html>